BaufiSmart/vorgang-anlegen/v09/bex-v9-VorgangAnlegen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bex="www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen"
  targetNamespace="www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen" >
  <wsdl:types>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen" targetNamespace="www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen">
  <!--
   In der XML Datei folgende Location verwenden:
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen
   https://www.europace2.de/baufiSmart/bex/schema/bex-v9-VorgangAnlegen.xsd"
 -->
  <xs:annotation>
 		<xs:appinfo>EUROPACE 2, BaufiSmart VorgangAnlegen-Schema, Version: 9</xs:appinfo>
 		<xs:appinfo>Generiert am: 12. Dezember 2013</xs:appinfo>
 	</xs:annotation>

  <xs:element name="VorgangMetadaten" type="VorgangMetadaten"/>
<xs:complexType name="VorgangMetadaten">
  <xs:sequence>
    <xs:element name="bearbeiter" type="PartnerInformation" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Der Sachbearbeiter des Vorgangs</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="empfaenger" type="PartnerInformation" minOccurs="1" maxOccurs="1" >
    </xs:element>
    <xs:element name="teilVorgangId" type="String" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4fc4932a2206dadba1473c88</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vorgangId" type="String" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 306196</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="weburl" type="String" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>z.B. https://www.europace2.de/baufiSmart/vorgangBearbeiten.html?teilvorgang=4fc4932a2206dadba1473c88   Beispiel: https://www.europace2.de/baufiSmart/vorgangBearbeiten.html?teilvorgang=4fc4932a2206dadba1473c88</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

  <xs:element name="Vorgang" type="Vorgang"/>
<xs:complexType name="Vorgang">
  <xs:sequence>
    <xs:element name="erfassteDaten" type="ErfassteDaten" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="externeVorgangsId" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>aus dem PartnerSystem   Beispiel: WB235415</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="importQuelle" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>z.B. BW Bank CRM   Beispiel: BW Bank CRM</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="leadTracking" type="LeadTracking" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="mitteilung" type="Text" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Allgemeiner Text, wird in der BaufiSmart-EreignisListe angezeigt   Beispiel: Der Mitteilungstext</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>


<xs:complexType name="AngestellterOderArbeiterOderBeamter">
  <xs:sequence>
    <xs:element name="anzahlGehaelterProJahr" type="Double" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>[12-15] in 0.5 Intervallen   Beispiel: 12.5</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="arbeitgeberInDeutschland" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: TRUE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="befristungsStatusBeiAngestelltenOderArbeitern" type="BeschaeftigungsBefristung" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: UNBEFRISTET</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="beschaeftigtSeit" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2001-01-01</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="einkommenNettoMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2860</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inProbezeit" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Default: false   Beispiel: FALSE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="typ" type="BeschaeftigungsartTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>[ANGESTELLTER; ARBEITER; BEAMTER]   Beispiel: ANGESTELLTER</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="AnnuitaetenOderForwardDarlehensWunsch">
  <xs:sequence>
    <xs:element name="anfaenglicheTilgung" type="Prozent" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="auszahlungsZeitpunktBeiForward" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2014-02-01</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bereitstellungsZinsfreieZeitInMonaten" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 6</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehensBetrag" type="Euro" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 200000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="provision" type="Prozent" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1.5</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sondertilgungOptionalJaehrlich" type="Prozent" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 5</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="typ" type="DarlehensWunschTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: ANNUITAETENDARLEHEN</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vertriebsBearbeitungsgebuehr" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsbindungInJahren" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="Anrede">
  <xs:restriction base="xs:string">
<xs:enumeration value="FRAU"/>
<xs:enumeration value="HERR"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="AnschlussFinanzierung">
  <xs:sequence>
    <xs:element name="modernisierungsKostenInklEigenleistungen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 27000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="renovierungsKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zusaetzlichesKapital" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 15000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Antragsteller">
  <xs:sequence>
    <xs:element name="anrede" type="Anrede" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: HERR</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="anschrift" type="Postadresse" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="beschaeftigung" type="Beschaeftigungsart" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="email" type="Email" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: johannes.finke@email.de</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="externeAntragstellerId" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FJ71-0126</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="familienstand" type="Familienstand" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: LEDIG</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="geburtsdatum" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1971-07-11</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="guetertrennungVereinbartWennVerheiratet" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: TRUE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nachname" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Finke</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="staatsangehoerigkeit" type="IsoCountryCode" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: DE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="telefonnummer" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 65487213</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="telefonnummerVorwahl" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 030</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="titelDoktor" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FALSE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="titelProfessor" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FALSE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="verheiratetmitWeiteremAntragsteller" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FALSE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vorAnschrift" type="Postadresse" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Erscheint nicht immer auf der Oberfläche (wohnhaftSeit wird benötigt)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vorname" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Johannes</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="weitereKontaktMoeglichkeiten" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Fax: 030-65487211</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="wohnhaftSeit" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2001-04-01</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="AufloesbaresUndAbtretbaresVermoegen">
  <xs:sequence>
    <xs:element name="maximalAufzuloesenderOderAbzutretenderBetrag" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vermoegensEinsatz" type="VermoegensEinsatz" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: AUFLOESEN</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="AutoStellplatz">
  <xs:sequence>
    <xs:element name="mieteinnahmenMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 150</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="typ" type="StellplatzTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: CARPORT</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="AutoStellplatzListe">
  <xs:sequence>
    <xs:element name="autoStellPlatz" type="AutoStellplatz" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BankUndSparguthaben">
  <xs:sequence>
    <xs:element name="bankUndSparguthabenGesamt" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 90000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maximalAufzuloesendesBankUndSparguthaben" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 85000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsertragJaehrlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Bausparvertrag">
  <xs:sequence>
    <xs:element name="angesparterBetrag" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 17500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sparBeitragMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 234.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vermoegensVerwendung" type="AufloesbaresUndAbtretbaresVermoegen" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="Bauweise">
  <xs:restriction base="xs:string">
<xs:enumeration value="FACHWERK_MIT_STROH_LEHM"/>
<xs:enumeration value="FACHWERK_MIT_ZIEGELN"/>
<xs:enumeration value="GLAS_STAHL"/>
<xs:enumeration value="HOLZ"/>
<xs:enumeration value="MASSIV"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="BeschaeftigungsBefristung">
  <xs:restriction base="xs:string">
<xs:enumeration value="BEFRISTET"/>
<xs:enumeration value="UNBEFRISTET"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Beschaeftigungsart">
  <xs:choice minOccurs="0" maxOccurs="1">
    <xs:element name="angestellterOderArbeiterOderBeamter" type="AngestellterOderArbeiterOderBeamter" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="freiberuflerOderSelbstaendiger" type="FreiberuflerOderSelbststaendiger" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="hausfrauOderArbeitsloser" type="HausfrauOderArbeitsloser" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="rentner" type="Rentner" minOccurs="0" maxOccurs="1">
    </xs:element>
  </xs:choice>
</xs:complexType>
<xs:simpleType name="BeschaeftigungsartTyp">
  <xs:restriction base="xs:string">
<xs:enumeration value="ANGESTELLTER"/>
<xs:enumeration value="ARBEITER"/>
<xs:enumeration value="ARBEITSLOSER"/>
<xs:enumeration value="BEAMTER"/>
<xs:enumeration value="FREIBERUFLER"/>
<xs:enumeration value="HAUSFRAU"/>
<xs:enumeration value="RENTNER"/>
<xs:enumeration value="SELBSTAENDIGER"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="BestehendeImmobilie">
  <xs:sequence>
    <xs:element name="immobilienAusserhalbDerFinanzierung" type="BestehendeImmobilieDetailsListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="zusatzSicherheitInDerFinanzierung" type="BestehendeImmobilieDetails" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BestehendeImmobilieDetails">
  <xs:sequence>
    <xs:element name="bestehendeDarlehen" type="BestehendesDarlehenBestandsImmobilieListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="bezeichnungOderAdresseZurIdentifikation" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Prenzlauer Promenade 58</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="marktwert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 250000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nutzungsArt" type="NutzungsArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: VERMIETET</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nutzungsDetailsBeiVermietung" type="VermietungsInformationen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="wohnflaecheGesamt" type="Flaeche" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 124.23</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BestehendeImmobilieDetailsListe">
  <xs:sequence>
    <xs:element name="bestehendeImmobilieDetails" type="BestehendeImmobilieDetails" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="BestehendesDarlehenArt">
  <xs:restriction base="xs:string">
<xs:enumeration value="BAUSPARDARLEHEN"/>
<xs:enumeration value="FOERDERDARLEHEN"/>
<xs:enumeration value="IMMOBILIENDARLEHEN"/>
<xs:enumeration value="SONSTIGES_DARLEHEN"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="BestehendesDarlehenBestandsImmobilie">
  <xs:sequence>
    <xs:element name="aktuelleRestschuld" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 88616.70</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehensArt" type="BestehendesDarlehenArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: IMMOBILIENDARLEHEN</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehensGeber" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: ING-DiBa</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rateMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 296.67</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsBindungBis" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2014-01-31</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BestehendesDarlehenBestandsImmobilieListe">
  <xs:sequence>
    <xs:element name="bestehendesDarlehen" type="BestehendesDarlehenBestandsImmobilie" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BestehendesDarlehenFinanzierungsObjekt">
  <xs:sequence>
    <xs:element name="abzuloesendeRestschuld" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 78000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehenArt" type="BestehendesDarlehenArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: IMMOBILIENDARLEHEN</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehensGeber" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: DSL</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="eingetrageneGrundschuld" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 115000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rateMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 786.58</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="verwendenAls" type="DarlehensVerwendung" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>nur bei Anschlussfinanzierung erlaubt   Beispiel: ABLOESEN</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsBindungBis" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2013-05-31</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="BestehendesDarlehenFinanzierungsObjektListe">
  <xs:sequence>
    <xs:element name="bestehendesDarlehenFinanzierungsObjekt" type="BestehendesDarlehenFinanzierungsObjekt" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="DachgeschossAusbau">
  <xs:restriction base="xs:string">
<xs:enumeration value="FLACHDACH"/>
<xs:enumeration value="NICHT_AUSGEBAUT"/>
<xs:enumeration value="TEILWEISE_AUSGEBAUT"/>
<xs:enumeration value="VOLL_AUSGEBAUT"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="DarlehensVerwendung">
  <xs:restriction base="xs:string">
<xs:enumeration value="ABLOESEN"/>
<xs:enumeration value="TRITT_IM_RANG_ZURUECK"/>
<xs:enumeration value="TRITT_NICHT_IM_RANG_ZURUECK"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="DarlehensWunschTyp">
  <xs:restriction base="xs:string">
<xs:enumeration value="ANNUITAETENDARLEHEN"/>
<xs:enumeration value="FORWARDDARLEHEN"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="DatenKontext">
  <xs:restriction base="xs:string">
<xs:enumeration value="ECHTGESCHAEFT"/>
<xs:enumeration value="TEST_MODUS"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Eigentumswohnung">
  <xs:sequence>
    <xs:element name="anzahlDerWohneinheitenImObjekt" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 9</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="anzahlVollgeschosse" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="baujahrWennNichtNeubau" type="Jahreszahl" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1978</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bauweise" type="Bauweise" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: MASSIV</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bezeichnungWohneinheit" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: G3C 3. OG links</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="miteigentumsAnteil" type="MiteigentumsAnteil" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="modernisierungsAngabenWennNichtNeubau" type="ModernisierungsAngaben" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="nutzungsArt" type="NutzungsArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: EIGENGENUTZT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nutzungsDetailsBeiVermietung" type="VermietungsInformationen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="wohnflaecheGesamt" type="Flaeche" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 175.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="EinkuenfteAusNebentaetigkeit">
  <xs:sequence>
    <xs:element name="beginnDerNebentaetigkeit" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2012-07-01</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="betragMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 125</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Erbbaurecht">
  <xs:sequence>
    <xs:element name="erbbauzinsJaehrlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="grundstuecksEigentuemer" type="GrundstuecksEigentuemer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: OEFFENTLICH_KIRCHLICH</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="laufzeitBisJahr" type="Jahreszahl" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2095</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="ErfassteDaten">
  <xs:sequence>
    <xs:element name="antragsteller" type="Antragsteller" minOccurs="0" maxOccurs="2" >
    </xs:element>
    <xs:element name="haushalt" type="Haushalt" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="finanzierungsObjekt" type="FinanzierungsObjekt" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="vorhaben" type="Vorhaben" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="Familienstand">
  <xs:restriction base="xs:string">
<xs:enumeration value="GESCHIEDEN"/>
<xs:enumeration value="GETRENNT_LEBEND"/>
<xs:enumeration value="LEBENSPARTNERSCHAFT"/>
<xs:enumeration value="LEDIG"/>
<xs:enumeration value="VERHEIRATET"/>
<xs:enumeration value="VERWITWET"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Finanzbedarf">
  <xs:choice minOccurs="0" maxOccurs="1">
    <xs:element name="anschlussfinanzierung" type="AnschlussFinanzierung" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="kauf" type="Kauf" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="kaufNeubauVomBautraeger" type="KaufNeubauVomBautraeger" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="modernisierung" type="Modernisierung" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="neubau" type="Neubau" minOccurs="0" maxOccurs="1">
    </xs:element>
  </xs:choice>
</xs:complexType>
<xs:complexType name="FinanzierungsObjekt">
  <xs:sequence>
    <xs:element name="adresse" type="Postadresse" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="autoStellplaetze" type="AutoStellplatzListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="beiAnschlussFinanzierungOderModernisierung" type="FinanzierungsObjektDetailsBeiAnschlussFinanzierungOderModernisierung" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="erbbaurecht" type="Erbbaurecht" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="externeImmobilienId" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0234932483249</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="grundbuchAngabe" type="GrundbuchAngabe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="grundstuecksGroesse" type="Flaeche" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1250.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="finanzierungsObjektDetails" type="FinanzierungsObjektDetails" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="FinanzierungsObjektDetails">
  <xs:choice minOccurs="0" maxOccurs="1">
    <xs:element name="grundstueck" type="Grundstueck" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="eigentumswohnung" type="Eigentumswohnung" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="haus" type="Haus" minOccurs="0" maxOccurs="1">
    </xs:element>
  </xs:choice>
</xs:complexType>
<xs:complexType name="FinanzierungsObjektDetailsBeiAnschlussFinanzierungOderModernisierung">
  <xs:sequence>
    <xs:element name="darlehenDesFinanzierungsObjekts" type="BestehendesDarlehenFinanzierungsObjektListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="verkehrswert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 256000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="FinanzierungsWunsch">
  <xs:choice minOccurs="0" maxOccurs="5">
    <xs:element name="annuitaetenOderForwardDarlehensWunsch" type="AnnuitaetenOderForwardDarlehensWunsch" minOccurs="0" maxOccurs="1">
    </xs:element>
    <xs:element name="kfwDarlehen" type="KfwDarlehensWunsch" minOccurs="0" maxOccurs="1">
    </xs:element>
  </xs:choice>
</xs:complexType>
<xs:complexType name="Flurstueck">
  <xs:sequence>
    <xs:element name="anteil" type="MiteigentumsAnteil" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="flur" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 17</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="flurstuecksNummer" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="groesse" type="Flaeche" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2500</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="FlurstueckListe">
  <xs:sequence>
    <xs:element name="flurStueck" type="Flurstueck" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="FreiberuflerOderSelbststaendiger">
  <xs:sequence>
    <xs:element name="einkommenNettoJaehrlich" type="Euro" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="taetigSeit" type="IsoDate" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="typ" type="BeschaeftigungsartTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>[FREIBERUFLER; SELBSTSTAENDIGER]</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="GrundbuchAngabe">
  <xs:sequence>
    <xs:element name="blattNummer" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>ggf. mit Angabe des Bandes   Beispiel: 75 (Band: 2)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="flurstuecke" type="FlurstueckListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="ort" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Berlin (Köpenick)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rechteInAbteilung2" type="RechteAbteilung2" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="weitereAnmerkungen" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>z.B. bei weiteren Grundbüchern   Beispiel: Sondereigentum in separatem Grundbuch</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Grundstueck">
  <xs:sequence>
    <xs:element name="grundstuecksArt" type="GrundstuecksArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: UNBEBAUTES_WOHNGRUNDSTUECK</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="GrundstuecksArt">
  <xs:restriction base="xs:string">
<xs:enumeration value="UNBEBAUTES_WOHNGRUNDSTUECK"/>
<xs:enumeration value="UNBEBAUTES_MISCHGRUNDSTUECK"/>
<xs:enumeration value="UNBEBAUTES_GEWERBEGRUNDSTUECK"/>
<xs:enumeration value="LANDWIRTSCHAFTLICHES_GRUNDSTUECK"/>
<xs:enumeration value="SONSTIGES_GRUNDSTUECK"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="GrundstuecksEigentuemer">
  <xs:restriction base="xs:string">
<xs:enumeration value="ANDERE"/>
<xs:enumeration value="OEFFENTLICH_KIRCHLICH"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Haus">
  <xs:sequence>
    <xs:element name="anzahlDerWohneinheitenBeiMehrfamilienHaus" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 8</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="anzahlVollgeschosse" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="baujahrWennNichtNeubau" type="Jahreszahl" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1911</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bauweise" type="Bauweise" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: MASSIV</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="dachgeschossAusbau" type="DachgeschossAusbau" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: VOLL_AUSGEBAUT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="einliegerwohnungVorhandenBeiDoppelOderEinfamilienOderReihenHaus" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: true</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="fertighausBeiDoppelOderEinfamilienOderZweifamilienHaus" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: true</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="hausAnordnungMehrfamilienOderZweifamilienHaus" type="HausAnordnungMehrfamilienhaus" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FREISTEHEND</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="hausAnordnungReihenhaus" type="HausAnordnungReihenhaus" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: KOPFHAUS</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="hausTyp" type="HausTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: MEHRFAMILIENHAUS</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="modernisierungsAngabenWennNichtNeubau" type="ModernisierungsAngaben" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="nutzungsArt" type="NutzungsArt" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: TEIL_VERMIETET</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nutzungsDetailsBeiVermietung" type="VermietungsInformationen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="unterkellerung" type="Unterkellerung" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: UNTERKELLERT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="wohnflaecheGesamt" type="Flaeche" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1780.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="HausAnordnungMehrfamilienhaus">
  <xs:restriction base="xs:string">
<xs:enumeration value="FREISTEHEND"/>
<xs:enumeration value="KOPFHAUS"/>
<xs:enumeration value="MITTELHAUS"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="HausAnordnungReihenhaus">
  <xs:restriction base="xs:string">
<xs:enumeration value="KOPFHAUS"/>
<xs:enumeration value="MITTELHAUS"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="HausTyp">
  <xs:restriction base="xs:string">
<xs:enumeration value="DOPPELHAUSHAELFTE"/>
<xs:enumeration value="EINFAMILIENHAUS"/>
<xs:enumeration value="MEHRFAMILIENHAUS"/>
<xs:enumeration value="REIHENHAUS"/>
<xs:enumeration value="ZWEIFAMILIENHAUS"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="HausfrauOderArbeitsloser">
  <xs:sequence>
    <xs:element name="sonstigesRegelmaessigesEinkommenNettoMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="typ" type="BeschaeftigungsartTyp" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>[HAUSFRAU; ARBEITSLOSER]</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Haushalt">
  <xs:sequence>
    <xs:element name="bestehendeImmobilien" type="BestehendeImmobilie" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="einnahmenAusgabenVermoegenVerbindlichkeiten" type="HaushaltsPositionen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="kinder" type="KinderListe" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="kontoverbindung" type="Kontoverbindung" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="HaushaltsPositionen">
  <xs:sequence>
    <xs:element name="ausgabenSonstigeMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 50.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bankUndSparguthaben" type="BankUndSparguthaben" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="bausparvertrag" type="Bausparvertrag" minOccurs="0" maxOccurs="3" >
    </xs:element>
    <xs:element name="ehegattenUnterhaltEinnahmenMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 350.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="einkuenfteAusNebentaetigkeit" type="EinkuenfteAusNebentaetigkeit" minOccurs="0" maxOccurs="3" >
    </xs:element>
    <xs:element name="einnahmenSonstigeMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 360.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="lebensUndRentenversicherung" type="LebensOderRentenversicherung" minOccurs="0" maxOccurs="3" >
    </xs:element>
    <xs:element name="mietAusgaben" type="MietAusgaben" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="privateDarlehen" type="Verbindlichkeit" minOccurs="0" maxOccurs="3" >
    </xs:element>
    <xs:element name="privateKrankenversicherungBeitragMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ratenkredit" type="Verbindlichkeit" minOccurs="0" maxOccurs="3" >
    </xs:element>
    <xs:element name="sparplaene" type="Sparplaene" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="unbefristeteZusatzRenteMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 96.50</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="unterhaltsVerpflichtungMonatlich" type="Euro" minOccurs="0" maxOccurs="3" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="variableEinkuenfteMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="verbindlichkeitSonstige" type="Verbindlichkeit" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="vermoegenSonstige" type="VermoegenSonstige" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="versicherungsAusgabenSonstigeMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 86.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="wertpapiere" type="Wertpapiere" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Kauf">
  <xs:sequence>
    <xs:element name="bereitsBeglicheneKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3840.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kaufpreis" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 256000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="mobiliarKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="modernisierungsKostenInklEigenleistungen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 27000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nebenkosten" type="Nebenkosten" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="renovierungsKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sonstigeKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="KaufNeubauVomBautraeger">
  <xs:sequence>
    <xs:element name="bereitsBeglicheneKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3840.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kaufpreisInklEigenleistungen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 256000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="mobiliarKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nebenkosten" type="Nebenkosten" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="sonstigeKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="KfwDarlehensWunsch">
  <xs:annotation>
    <xs:documentation>zur Laufzeit wird die Kombination der Werte auf Gültigkeit überprüft</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="darlehensBetrag" type="Euro" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 50000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kfwProgramm" type="Integer" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>genau 3 Ziffern erlaubt; zur Laufzeit wird geprüft, ob das KfW-Programm in BaufiSmart verfügbar ist   Beispiel: 124</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="laufzeitInJahren" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Zulässige Werte {10,20,30}   Beispiel: 10</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="tilgungsfreieAnlaufjahre" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Zulässige Werte {1,2,3,4,5}   Beispiel: 1</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsbindungInJahren" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Zulässige Werte {5,10}   Beispiel: 10</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Kind">
  <xs:sequence>
    <xs:element name="geburtsdatum" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2005-01-24</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kindergeldWirdBezogen" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: TRUE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="name" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Gustav Finke</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="unterhaltsEinnahmenBetragMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="KinderListe">
  <xs:sequence>
    <xs:element name="kind" type="Kind" minOccurs="0" maxOccurs="999" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="Kontoinhaber">
  <xs:restriction base="xs:string">
<xs:enumeration value="ANTRAGSTELLER_1"/>
<xs:enumeration value="ANTRAGSTELLER_2"/>
<xs:enumeration value="BEIDE_ANTRAGSTELLER"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Kontoverbindung">
  <xs:sequence>
    <xs:element name="bankleitzahl" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12030000</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kontoinhaber" type="Kontoinhaber" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: ANTRAGSTELLER_1</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kontonummer" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12312312</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kreditinstitut" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: DKB Berlin</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="iban" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>nur deutsche und valide IBANs, Beispiel: DE68210501700012345678</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bic" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>nur valide BICs, Beispiel: GENODEF1S10</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="LeadTracking">
  <xs:sequence>
    <xs:element name="kampagne" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: SonderaktionEinfamilienhaus</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="keyword" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: BaufiLeadFormular</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="LebensOderRentenversicherung">
  <xs:sequence>
    <xs:element name="praemieMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 158.80</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rueckkaufsWertAktuell" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12600.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vermoegensVerwendung" type="AufloesbaresUndAbtretbaresVermoegen" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="MietAusgaben">
  <xs:sequence>
    <xs:element name="ausgabenMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 840.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="entfallenMitFinanzierung" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: TRUE</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="MiteigentumsAnteil">
  <xs:sequence>
    <xs:element name="anteil" type="Double" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 250.050</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="gesamt" type="Integer" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1500</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Modernisierung">
  <xs:sequence>
    <xs:element name="mobiliarKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="modernisierungsKostenInklEigenleistungen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 27000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="renovierungsKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sonstigeKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zusaetzlichesKapital" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 15000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="ModernisierungsAngaben">
  <xs:sequence>
    <xs:element name="modernisierungsGrad" type="ModernisierungsGrad" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: HOCH</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="modernisierungsJahr" type="Jahreszahl" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2013</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="ModernisierungsGrad">
  <xs:restriction base="xs:string">
<xs:enumeration value="GERING"/>
<xs:enumeration value="HOCH"/>
<xs:enumeration value="MITTEL"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="NachrangigeExterneDarlehen">
  <xs:sequence>
    <xs:element name="arbeitgeberDarlehen" type="NachrangigesExternesDarlehen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="bausparDarlehen" type="NachrangigesExternesDarlehen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="oeffentlichesDarlehen" type="NachrangigesExternesDarlehen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="ratenkredit" type="NachrangigesExternesDarlehen" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="NachrangigesExternesDarlehen">
  <xs:sequence>
    <xs:element name="darlehenBetrag" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 20000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="darlehensGeber" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Förderbank</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rateMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 170.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="zinsBindungBis" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2020-01-31</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Nebenkosten">
  <xs:sequence>
    <xs:element name="grunderwerbsteuer" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12800.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maklergebuehr" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 17920.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="notargebuehr" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3840.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Neubau">
  <xs:sequence>
    <xs:element name="aussenAnlagen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 8000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bauNebenkosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 15000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bereitsBeglicheneKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3840.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="erschliessungskosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 20000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="grundstueckKaufpreis" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 80000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="herstellungskostenInklusiveEigenleistungen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 150000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="mobiliarKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 10000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nebenkosten" type="Nebenkosten" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="sonstigeKosten" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 4000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="NutzungsArt">
  <xs:restriction base="xs:string">
<xs:enumeration value="EIGENGENUTZT"/>
<xs:enumeration value="TEIL_VERMIETET"/>
<xs:enumeration value="VERMIETET"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="PartnerInformation">
  <xs:sequence>
    <xs:element name="email" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: mitarbeiter.31@partner.de</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="partnerId" type="String" minOccurs="1" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: ECZ95</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="name" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Kallischke</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vorname" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Horst</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Postadresse">
  <xs:sequence>
    <xs:element name="hausnummer" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 9</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ort" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Berlin</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="postleitzahl" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>5 Ziffern   Beispiel: 10178</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="strasse" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Alexanderstraße</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="RechteAbteilung2">
  <xs:sequence>
    <xs:element name="beschreibung" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: Wegerecht</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="betrag" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 1300.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Rentner">
  <xs:sequence>
    <xs:element name="staatlicheRenteNettoMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Sparplaene">
  <xs:sequence>
    <xs:element name="aktuellerWert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="beitragMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 120.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maximalAufzuloesenderWert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="StellplatzTyp">
  <xs:restriction base="xs:string">
<xs:enumeration value="STELLPLATZ"/>
<xs:enumeration value="CARPORT"/>
<xs:enumeration value="GARAGE"/>
<xs:enumeration value="DOPPEL_GARAGE"/>
<xs:enumeration value="KELLER_GARAGE"/>
<xs:enumeration value="TIEFGARAGEN_STELLPLATZ"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Unterkellerung">
  <xs:restriction base="xs:string">
<xs:enumeration value="NICHT_UNTERKELLERT"/>
<xs:enumeration value="TEILWEISE_UNTERKELLERT"/>
<xs:enumeration value="UNTERKELLERT"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Verbindlichkeit">
  <xs:sequence>
    <xs:element name="glaeubiger" type="String" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: MediaMarkt GmbH</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="laufzeitEnde" type="IsoDate" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 2013-06-30</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rateMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 89.50</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="restschuld" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 481.60</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="wirdAbgeloest" type="Boolean" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: FALSE</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="VermietungsInformationen">
  <xs:sequence>
    <xs:element name="mieteinnahmenNettoKaltMonatlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 600.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vermieteteWohnflaecheBeiTeilvermietung" type="Flaeche" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="VermoegenSonstige">
  <xs:sequence>
    <xs:element name="aktuellerWert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 3500.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maximalAufzuloesenderWert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:simpleType name="VermoegensEinsatz">
  <xs:restriction base="xs:string">
<xs:enumeration value="ABTRETEN"/>
<xs:enumeration value="AUFLOESEN"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Verwendungszweck">
  <xs:restriction base="xs:string">
<xs:enumeration value="ANSCHLUSSFINANZIERUNG"/>
<xs:enumeration value="KAUF"/>
<xs:enumeration value="KAUF_NEUBAU_VOM_BAUTRAEGER"/>
<xs:enumeration value="MODERNISIERUNG_UMBAU_ANBAU"/>
<xs:enumeration value="NEUBAU"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="Vorhaben">
  <xs:sequence>
    <xs:element name="eigenleistungWennNeubauOderModernisierungsmassnahmen" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 12000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="finanzierungsWunsch" type="FinanzierungsWunsch" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="nachrangigeExterneDarlehen" type="NachrangigeExterneDarlehen" minOccurs="0" maxOccurs="1" >
    </xs:element>
    <xs:element name="verwendungszweck" type="Verwendungszweck" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: KAUF</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="verwendungszweckAbhaengigerFinanzbedarf" type="Finanzbedarf" minOccurs="0" maxOccurs="1" >
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="Wertpapiere">
  <xs:sequence>
    <xs:element name="dividendenJaehrlich" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 100.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="gesamtwert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 16000.00</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="maximalAufzuloesenderWert" type="Euro" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>Beispiel: 0.00</xs:documentation>
        </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="Integer">
    <xs:annotation>
        <xs:documentation>Ganzahl, min -2147483648, max 2147483647</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="-2147483648"/>
        <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Double">
    <xs:annotation>
        <xs:documentation>Rationale Zahl, Keine Tausendertrennzeichen, '.' Punkt als Dezimaltrenner, 1-15 Vor- und 0-7 Nachkommastellen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="7"/>
        <xs:pattern value="\d{1,15}([.]\d{0,7}){0,1}"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="String">
    <xs:annotation>
        <xs:documentation>max. 1024 Zeichen, Es wird generell Unicode verwendet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:maxLength value="1024"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Text">
    <xs:annotation>
        <xs:documentation>max. 10240 Zeichen, Es wird generell Unicode verwendet</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:maxLength value="10240"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Boolean">
    <xs:annotation>
        <xs:documentation>Boolscher Ausdruck, verhält sich wie ein ENUM, erlaubte Werte: 'true', 'TRUE', 'yes', 'YES', 'false', 'FALSE', 'no', 'NO'</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="TRUE"/>
        <xs:enumeration value="true"/>
        <xs:enumeration value="YES"/>
        <xs:enumeration value="yes"/>
        <xs:enumeration value="FALSE"/>
        <xs:enumeration value="false"/>
        <xs:enumeration value="NO"/>
        <xs:enumeration value="no"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="IsoDate">
    <xs:annotation>
        <xs:documentation>Norm ISO 8601:2004 Erweitertes Format. siehe http://de.wikipedia.org/wiki/Datumsformat</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="IsoCountryCode">
<xs:annotation>
    <xs:documentation>ISO 3166-1 Alpha 2 kodiert. Groß-Klein-Schreibung irrelevant. http://www.iso.org/iso/country_codes</xs:documentation>
    <xs:documentation>Last updated: 2012-08-2, Source: http://www.iso.org/iso/home/standards/country_codes/country_names_and_code_elements.htm</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="AF"/>
<xs:enumeration value="AX"/>
<xs:enumeration value="AL"/>
<xs:enumeration value="DZ"/>
<xs:enumeration value="AS"/>
<xs:enumeration value="AD"/>
<xs:enumeration value="AO"/>
<xs:enumeration value="AI"/>
<xs:enumeration value="AQ"/>
<xs:enumeration value="AG"/>
<xs:enumeration value="AR"/>
<xs:enumeration value="AM"/>
<xs:enumeration value="AW"/>
<xs:enumeration value="AU"/>
<xs:enumeration value="AT"/>
<xs:enumeration value="AZ"/>
<xs:enumeration value="BS"/>
<xs:enumeration value="BH"/>
<xs:enumeration value="BD"/>
<xs:enumeration value="BB"/>
<xs:enumeration value="BY"/>
<xs:enumeration value="BE"/>
<xs:enumeration value="BZ"/>
<xs:enumeration value="BJ"/>
<xs:enumeration value="BM"/>
<xs:enumeration value="BT"/>
<xs:enumeration value="BO"/>
<xs:enumeration value="BQ"/>
<xs:enumeration value="BA"/>
<xs:enumeration value="BW"/>
<xs:enumeration value="BV"/>
<xs:enumeration value="BR"/>
<xs:enumeration value="IO"/>
<xs:enumeration value="BN"/>
<xs:enumeration value="BG"/>
<xs:enumeration value="BF"/>
<xs:enumeration value="BI"/>
<xs:enumeration value="KH"/>
<xs:enumeration value="CM"/>
<xs:enumeration value="CA"/>
<xs:enumeration value="CV"/>
<xs:enumeration value="KY"/>
<xs:enumeration value="CF"/>
<xs:enumeration value="TD"/>
<xs:enumeration value="CL"/>
<xs:enumeration value="CN"/>
<xs:enumeration value="CX"/>
<xs:enumeration value="CC"/>
<xs:enumeration value="CO"/>
<xs:enumeration value="KM"/>
<xs:enumeration value="CG"/>
<xs:enumeration value="CD"/>
<xs:enumeration value="CK"/>
<xs:enumeration value="CR"/>
<xs:enumeration value="CI"/>
<xs:enumeration value="HR"/>
<xs:enumeration value="CU"/>
<xs:enumeration value="CW"/>
<xs:enumeration value="CY"/>
<xs:enumeration value="CZ"/>
<xs:enumeration value="DK"/>
<xs:enumeration value="DJ"/>
<xs:enumeration value="DM"/>
<xs:enumeration value="DO"/>
<xs:enumeration value="EC"/>
<xs:enumeration value="EG"/>
<xs:enumeration value="SV"/>
<xs:enumeration value="GQ"/>
<xs:enumeration value="ER"/>
<xs:enumeration value="EE"/>
<xs:enumeration value="ET"/>
<xs:enumeration value="FK"/>
<xs:enumeration value="FO"/>
<xs:enumeration value="FJ"/>
<xs:enumeration value="FI"/>
<xs:enumeration value="FR"/>
<xs:enumeration value="GF"/>
<xs:enumeration value="PF"/>
<xs:enumeration value="TF"/>
<xs:enumeration value="GA"/>
<xs:enumeration value="GM"/>
<xs:enumeration value="GE"/>
<xs:enumeration value="DE"/>
<xs:enumeration value="GH"/>
<xs:enumeration value="GI"/>
<xs:enumeration value="GR"/>
<xs:enumeration value="GL"/>
<xs:enumeration value="GD"/>
<xs:enumeration value="GP"/>
<xs:enumeration value="GU"/>
<xs:enumeration value="GT"/>
<xs:enumeration value="GG"/>
<xs:enumeration value="GN"/>
<xs:enumeration value="GW"/>
<xs:enumeration value="GY"/>
<xs:enumeration value="HT"/>
<xs:enumeration value="HM"/>
<xs:enumeration value="VA"/>
<xs:enumeration value="HN"/>
<xs:enumeration value="HK"/>
<xs:enumeration value="HU"/>
<xs:enumeration value="IS"/>
<xs:enumeration value="IN"/>
<xs:enumeration value="ID"/>
<xs:enumeration value="IR"/>
<xs:enumeration value="IQ"/>
<xs:enumeration value="IE"/>
<xs:enumeration value="IM"/>
<xs:enumeration value="IL"/>
<xs:enumeration value="IT"/>
<xs:enumeration value="JM"/>
<xs:enumeration value="JP"/>
<xs:enumeration value="JE"/>
<xs:enumeration value="JO"/>
<xs:enumeration value="KZ"/>
<xs:enumeration value="KE"/>
<xs:enumeration value="KI"/>
<xs:enumeration value="KP"/>
<xs:enumeration value="KR"/>
<xs:enumeration value="KW"/>
<xs:enumeration value="KG"/>
<xs:enumeration value="LA"/>
<xs:enumeration value="LV"/>
<xs:enumeration value="LB"/>
<xs:enumeration value="LS"/>
<xs:enumeration value="LR"/>
<xs:enumeration value="LY"/>
<xs:enumeration value="LI"/>
<xs:enumeration value="LT"/>
<xs:enumeration value="LU"/>
<xs:enumeration value="MO"/>
<xs:enumeration value="MK"/>
<xs:enumeration value="MG"/>
<xs:enumeration value="MW"/>
<xs:enumeration value="MY"/>
<xs:enumeration value="MV"/>
<xs:enumeration value="ML"/>
<xs:enumeration value="MT"/>
<xs:enumeration value="MH"/>
<xs:enumeration value="MQ"/>
<xs:enumeration value="MR"/>
<xs:enumeration value="MU"/>
<xs:enumeration value="YT"/>
<xs:enumeration value="MX"/>
<xs:enumeration value="FM"/>
<xs:enumeration value="MD"/>
<xs:enumeration value="MC"/>
<xs:enumeration value="MN"/>
<xs:enumeration value="ME"/>
<xs:enumeration value="MS"/>
<xs:enumeration value="MA"/>
<xs:enumeration value="MZ"/>
<xs:enumeration value="MM"/>
<xs:enumeration value="NA"/>
<xs:enumeration value="NR"/>
<xs:enumeration value="NP"/>
<xs:enumeration value="NL"/>
<xs:enumeration value="NC"/>
<xs:enumeration value="NZ"/>
<xs:enumeration value="NI"/>
<xs:enumeration value="NE"/>
<xs:enumeration value="NG"/>
<xs:enumeration value="NU"/>
<xs:enumeration value="NF"/>
<xs:enumeration value="MP"/>
<xs:enumeration value="NO"/>
<xs:enumeration value="OM"/>
<xs:enumeration value="PK"/>
<xs:enumeration value="PW"/>
<xs:enumeration value="PS"/>
<xs:enumeration value="PA"/>
<xs:enumeration value="PG"/>
<xs:enumeration value="PY"/>
<xs:enumeration value="PE"/>
<xs:enumeration value="PH"/>
<xs:enumeration value="PN"/>
<xs:enumeration value="PL"/>
<xs:enumeration value="PT"/>
<xs:enumeration value="PR"/>
<xs:enumeration value="QA"/>
<xs:enumeration value="RE"/>
<xs:enumeration value="RO"/>
<xs:enumeration value="RU"/>
<xs:enumeration value="RW"/>
<xs:enumeration value="BL"/>
<xs:enumeration value="SH"/>
<xs:enumeration value="KN"/>
<xs:enumeration value="LC"/>
<xs:enumeration value="MF"/>
<xs:enumeration value="PM"/>
<xs:enumeration value="VC"/>
<xs:enumeration value="WS"/>
<xs:enumeration value="SM"/>
<xs:enumeration value="ST"/>
<xs:enumeration value="SA"/>
<xs:enumeration value="SN"/>
<xs:enumeration value="RS"/>
<xs:enumeration value="SC"/>
<xs:enumeration value="SL"/>
<xs:enumeration value="SG"/>
<xs:enumeration value="SX"/>
<xs:enumeration value="SK"/>
<xs:enumeration value="SI"/>
<xs:enumeration value="SB"/>
<xs:enumeration value="SO"/>
<xs:enumeration value="ZA"/>
<xs:enumeration value="GS"/>
<xs:enumeration value="SS"/>
<xs:enumeration value="ES"/>
<xs:enumeration value="LK"/>
<xs:enumeration value="SD"/>
<xs:enumeration value="SR"/>
<xs:enumeration value="SJ"/>
<xs:enumeration value="SZ"/>
<xs:enumeration value="SE"/>
<xs:enumeration value="CH"/>
<xs:enumeration value="SY"/>
<xs:enumeration value="TW"/>
<xs:enumeration value="TJ"/>
<xs:enumeration value="TZ"/>
<xs:enumeration value="TH"/>
<xs:enumeration value="TL"/>
<xs:enumeration value="TG"/>
<xs:enumeration value="TK"/>
<xs:enumeration value="TO"/>
<xs:enumeration value="TT"/>
<xs:enumeration value="TN"/>
<xs:enumeration value="TR"/>
<xs:enumeration value="TM"/>
<xs:enumeration value="TC"/>
<xs:enumeration value="TV"/>
<xs:enumeration value="UG"/>
<xs:enumeration value="UA"/>
<xs:enumeration value="AE"/>
<xs:enumeration value="GB"/>
<xs:enumeration value="US"/>
<xs:enumeration value="UM"/>
<xs:enumeration value="UY"/>
<xs:enumeration value="UZ"/>
<xs:enumeration value="VU"/>
<xs:enumeration value="VE"/>
<xs:enumeration value="VN"/>
<xs:enumeration value="VG"/>
<xs:enumeration value="VI"/>
<xs:enumeration value="WF"/>
<xs:enumeration value="EH"/>
<xs:enumeration value="YE"/>
<xs:enumeration value="ZM"/>
<xs:enumeration value="ZW"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="Jahreszahl">
    <xs:annotation>
        <xs:documentation>Ganzahl, im Wertebereich zw. 1000-9999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1000"/>
        <xs:maxInclusive value="9999"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Email">
    <xs:annotation>
        <xs:documentation>Siehe http://tools.ietf.org/html/rfc5322, Kapitel 3.4.1. Addr-Spec</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:maxLength value="255"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Euro">
    <xs:annotation>
        <xs:documentation>Keine Tausendertrennzeichen, 0-2 Nachkommastellen, '.' Punkt als Dezimaltrenner</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="2"/>
        <xs:pattern value="\d{1,15}([.]\d{0,2}){0,1}"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Flaeche">
    <xs:annotation>
        <xs:documentation>Angabe in Quadratmetern. Positive rationale Zahl, Keine Tausendertrennzeichen, mit 0-2 Nachkommastellen, '.' Punkt als Dezimaltrenner</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:pattern value="\d{1,15}([.]\d{0,2}){0,1}"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Prozent">
    <xs:annotation>
        <xs:documentation>Angabe 100 basiert. Rationale Zahl, Keine Tausendertrennzeichen, mit 0-3 Nachkommastellen, '.' Punkt als Dezimaltrenner</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
        <xs:fractionDigits value="3"/>
        <xs:pattern value="\d{1,15}([.]\d{0,3}){0,1}"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="LoggingId">
    <xs:annotation>
        <xs:documentation>Text dient der Nachverfolgung, max. 32 Zeichen, erlaubte Zeichen: a-zA-Z0-9-/.+_</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="32"/>
        <xs:pattern value="[-a-zA-Z0-9/.+_]{1,32}"/>
    </xs:restriction>
</xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="VorgangAnlegenAnfrage">
    <wsdl:part name="ApiKey" type="bex:String"/>
    <wsdl:part name="BearbeiterPartnerId" type="bex:String"/>
    <wsdl:part name="DatenKontext" type="bex:DatenKontext"/>
    <wsdl:part name="EmpfaengerPartnerId" type="bex:String"/>
    <wsdl:part name="LoggingId" type="bex:LoggingId"/>
    <wsdl:part name="Vorgang" type="bex:Vorgang"/>
  </wsdl:message>
  <wsdl:message name="VorgangAnlegenAntwort">
    <wsdl:part name="LoggingId" type="bex:LoggingId"/>
    <wsdl:part name="VorgangMetadaten" type="bex:VorgangMetadaten"/>
  </wsdl:message>
  <wsdl:message name="VorgangAnlegenFehlermeldungen">
    <wsdl:part name="LoggingId" type="bex:LoggingId"/>
  </wsdl:message>
  <wsdl:portType name="VorgangAnlegenPortType">
    <wsdl:operation name="VorgangAnlegen">
      <wsdl:input message="bex:VorgangAnlegenAnfrage"/>
      <wsdl:output message="bex:VorgangAnlegenAntwort"/>
      <wsdl:fault message="bex:VorgangAnlegenFehlermeldungen" name="VorgangAnlegenFehlermeldungen"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VorgangAnlegenBinding" type="bex:VorgangAnlegenPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="VorgangAnlegen">
      <soap:operation soapAction="urn:#VorgangAnlegen"/>
      <wsdl:input>
        <soap:header part="ApiKey" message="bex:VorgangAnlegenAnfrage" use="literal"/>
        <soap:header part="BearbeiterPartnerId" message="bex:VorgangAnlegenAnfrage" use="literal"/>
        <soap:header part="EmpfaengerPartnerId" message="bex:VorgangAnlegenAnfrage" use="literal"/>
        <soap:header part="DatenKontext" message="bex:VorgangAnlegenAnfrage" use="literal"/>
        <soap:header part="LoggingId" message="bex:VorgangAnlegenAnfrage" use="literal"/>
        <soap:body parts="Vorgang" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header part="LoggingId" message="bex:VorgangAnlegenAntwort" use="literal"/>
        <soap:body parts="VorgangMetadaten" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="VorgangAnlegenFehlermeldungen">
        <soap:header part="LoggingId" message="bex:VorgangAnlegenFehlermeldungen" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VorgangAnlegenService">
    <wsdl:port name="VorgangAnlegenPort" binding="bex:VorgangAnlegenBinding">
      <soap:address location="https://www.europace2.de/baufiSmart/soap/bex/v9/vorgangAnlegen"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>